.instruction{
    display: flex;
    flex-direction: row;
    margin: 30px 100px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.drum{
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: center;
}
.drumContainer{
    margin: 10px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main{
    cursor: pointer;
}
.mainDrum{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #ffcfc7;
    border: 3px solid black;
}
.mainDrum::before{
    position: relative;
    content: '';
    display: block;
    height: 182px;
    width: 182px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.mainClip{
    position: absolute;
    height: 7px;
    width: 11px;
    border: 3px solid black;
    background-color: #dbdbdb;
    
}
.mainClip::before{
    position: relative;
    content: '';
    display: block;
    height: 5px;
    width: 5px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    background-color: #dbdbdb;
    top: -7px;
}
.mainClip:nth-child(1){
    top: 100px;
    left: -3px;
    transform: rotate(-90deg);
}
.mainClip:nth-child(2){
    top: 100px;
    left: 192px;
    transform: rotate(90deg);
}
.mainClip:nth-child(3){
    top: 25px;
    left: 161px;
    transform: rotate(45deg);
}
.mainClip:nth-child(4){
    top: 25px;
    left: 28px;
    transform: rotate(-45deg);
}
.mainClip:nth-child(5){
    top: 165px;
    left: 165px;
    transform: rotate(135deg);
}
.mainClip:nth-child(6){
    top: 168px;
    left: 28px;
    transform: rotate(-135deg);
}

.mainleg{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #545454;
    border: 3px solid black;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(-40deg);
    top: 180px;
    left: -15px;
    z-index: -1;
}
.mainleg::before{
    position: relative;
    content: '';
    display: block;
    height: 80px;
    width: 4px;
    border: 3px solid black;
    background-color: #dbdbdb;
    transform: rotate(45deg);
    top: -70px;
    left: 32px;
}
.mainleg::after{
    position: relative;
    content: '';
    display: block;
    height: 20px;
    width: 8px;
    border: 3px solid black;
    background-color: #dbdbdb;
    border-radius: 8px;
    transform: rotate(45deg);
    top: -160px;
    left: 64px;
}
.mainleg:nth-child(2){
    top: 180px;
    left: 205px;
    transform: rotate(-50deg);
}

@keyframes mainDrum{
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
}
#tomDrum{
    cursor: pointer;
}
.tomContainer{
    position: relative;
    top: -185px;
    left: -190px;
    z-index: -2;
}
.tomBody{
    position: absolute;
    height: 130px;
    width: 120px;
    border: 3px solid black;
    background-color: #ffcfc7;
}
.tomBody::before{
    position: relative;
    content: '';
    display: block;
    height: 7px;
    width: 130px;
    border: 3px solid black;
    background-color: #dbdbdb;
    left: -8px;
    top: -10px;
}
.tomBody::after{
    position: relative;
    content: '';
    display: block;
    height: 7px;
    width: 130px;
    border: 3px solid black;
    background-color: #dbdbdb;
    left: -8px;
    top: 110px;
}
.tomClip{
    position: absolute;
    height: 18px;
    width: 5px;
    border: 3px solid black;
    background-color: #dbdbdb;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    top: 7px;
    left: -7px;
}
.tomClip::before{
    position: relative;
    content: '';
    display: block;
    height: 10px;
    width: 5px;
    background-color: black;
    top: -10px;
    left: 0px;
}
.tomClip:nth-child(2){
    top: 7px;
    left: 116px;
}
.tomClip:nth-child(3){
    top: 7px;
    left: 32px;
}
.tomClip:nth-child(4){
    top: 7px;
    left: 78px;
}
.tomClip:nth-child(5){
    top: 95px;
    left: 116px;
    transform: rotate(180deg);
}
.tomClip:nth-child(6){
    top: 95px;
    left: 32px;
    transform: rotate(180deg);
}
.tomClip:nth-child(7){
    top: 95px;
    left: 78px;
    transform: rotate(180deg);
}
.tomClip:nth-child(8){
    top: 95px;
    left: -8px;
    transform: rotate(180deg);
}
.tomleg{
    position: relative;
    height: 60px;
    width: 80px;
    left: -72px;
    top: 20px;
    transform: rotate(100deg);

}
.tomleg::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 47%;
    background: #dbdbdb;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    transform: skew(0deg, 10deg);
}
.tomleg::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 4px;
    width: 47%;
    background: #dbdbdb;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    transform: skew(0deg, -10deg);
}
.tomleg2{
    position: absolute;
    height: 30px;
    width: 8px;
    border: 3px solid black;
    background-color: #dbdbdb;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: rotate(80deg);
    left: -18px;
    top: -13px;
}
.tomleg2::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #545454;
    border: 3px solid black;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(135deg);
    top: -88px;
    left: 9px;
}
.tomleg:nth-child(2){
    transform: scaleY(-1) rotate(-80deg);
    left: 118px;
    top: 79px;
}
@keyframes tomDrum{
    0%, 100%{
        transform: scaleY(1);
        z-index: -2;
    }
    50%{
        transform: scaleY(0.95);
        z-index: -2;
    }
}
.snareContainer{
    position: relative;
    left: -50px;
    z-index: -2;
    cursor: pointer;
}
.snareBody{
    position: absolute;
    height: 45px;
    width: 110px;
    border: 3px solid black;
    background-color: #ffcfc7;
    top: -300px;
    left: 160px;
    z-index: -2;
}
.snareBody::before{
    position: relative;
    content: '';
    display: block;
    height: 7px;
    width: 120px;
    border: 3px solid black;
    background-color: #dbdbdb;
    left: -8px;
    top: -10px;
}
.snareBody::after{
    position: relative;
    content: '';
    display: block;
    height: 7px;
    width: 120px;
    border: 3px solid black;
    background-color: #dbdbdb;
    left: -8px;
    top: 29px;
}
.snareClip{
    position: absolute;
    height: 18px;
    width: 5px;
    border: 3px solid black;
    background-color: #dbdbdb;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    top: 10px;
    left: -7px;
}
.snareClip::before{
    position: relative;
    content: '';
    display: block;
    height: 10px;
    width: 5px;
    background-color: black;
    top: -10px;
    left: 0px;
}
.snareClip::after{
    position: relative;
    content: '';
    display: block;
    height: 10px;
    width: 5px;
    background-color: black;
    top: 9px;
    left: 0px;
}
.snareClip:nth-child(2){
    top: 10px;
    left: 106px;
}
.snareClip:nth-child(3){
    top: 10px;
    left: 28px;
}
.snareClip:nth-child(4){
    top: 10px;
    left: 72px;
}
@keyframes snareDrum{
    0%, 100%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0.95);
    }
}
.snareStand{
    position: absolute;
    height: 60px;
    width: 80px;
    left: 178px;
    top: -170px;
}
.snareStand::before{
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 46%;
    background: #dbdbdb;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    transform: skew(0deg, -40deg);
}
.snareStand::after{
    display: block;
    content: '';
    position: absolute;
    top: 10;
    right: 0;
    height: 5px;
    width: 46%;
    background: #dbdbdb;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    transform: skew(0deg, 40deg);
}
.snareFeet{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #545454;
    border: 3px solid black;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(10deg);
    top: 15px;
    left: -13px;
    z-index: -5;
}

.snareFeet::before{
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    background-color: #545454;
    border: 3px solid black;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(-90deg);
    top: -17px;
    left: 85px;
    z-index: -5;
}
.snarePole{
    position: absolute;
    height: 40px;
    width: 4px;
    background-color: #dbdbdb;
    border: 3px solid black;
    top: -57px;
    left: 35px;
}
.snarePole::before{
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    background-color: #dbdbdb;
    border: 3px solid black;
    border-radius: 50%;
    left: -5px;
    top: 35px;
    z-index: 1;
}
.snarePole::after{
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    background-color: #dbdbdb;
    border: 3px solid black;
    border-radius: 50%;
    left: -5px;
    top: -11px;
    z-index: 1;
}
.snareGrip{
    position: absolute;
    height: 60px;
    width: 4px;
    background-color: #dbdbdb;
    border: 3px solid black;
    top: -97px;
    left: 70px;
    transform: rotate(-100deg);
}
.snareGrip::before{
    position: absolute;
    content: '';
    height: 18px;
    width: 5px;
    background-color: #545454;
    border: 3px solid black;
    border-radius: 100px;
    left: 6px;
    top: 52px;
    transform: rotate(100deg);
    z-index: 1;
}
.snareGrip::after{
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    background-color: #dbdbdb;
    border: 3px solid black;
    border-radius: 50%;
    left: -5px;
    top: 55px;
    z-index: 1;
}
.snareGrip2{
    position: absolute;
    height: 60px;
    width: 4px;
    background-color: #dbdbdb;
    border: 3px solid black;
    top: -97px;
    left: -2px;
    transform: rotate(100deg);
}
.snareGrip2::before{
    position: absolute;
    content: '';
    height: 18px;
    width: 5px;
    background-color: #545454;
    border: 3px solid black;
    border-radius: 100px;
    left: -15px;
    top: 50px;
    transform: rotate(-100deg);
    z-index: 1;
}
.snareGrip2::after{
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    background-color: #dbdbdb;
    border: 3px solid black;
    border-radius: 50%;
    left: -5px;
    top: 53px;
    z-index: 1;
}
.cymbalContainer{
    position: absolute;
    top: -55px;
    left: -190px;
    cursor: pointer;
}
#mainCymbal {
    position: absolute;
    width: 130px;
    height: 6px;
    background-color: #FDE74C;
    border: 3px solid black;
    transform: rotate(25deg);
    transform-origin: 50% 50%;
    border-radius: 100px;
    z-index: 13;
}
#mainCymbal::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 4px;
    background-color: #FDE74C;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    left: 37px;
    top: -6px;
}
@keyframes mainCymbal {
    50%{
        transform: rotate(35deg);
    }
}
.cymbalStand{
    position: absolute;
    height: 60px;
    width: 80px;
    left: -2px;
    top: 215px;
}
.cymbalStand::before{
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 46%;
    background: #dbdbdb;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    transform: skew(0deg, -40deg);
}
.cymbalStand::after{
    display: block;
    content: '';
    position: absolute;
    top: 10;
    right: 0;
    height: 5px;
    width: 46%;
    background: #dbdbdb;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    transform: skew(0deg, 40deg);
}
.cymbalFeet{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #545454;
    border: 3px solid black;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(10deg);
    top: 15px;
    left: -13px;
    z-index: 5;
}

.cymbalFeet::before{
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    background-color: #545454;
    border: 3px solid black;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(-90deg);
    top: -17px;
    left: 85px;
    z-index: -5;
}
.cymbalPole{
    position: absolute;
    height: 140px;
    width: 4px;
    background-color: #dbdbdb;
    border: 3px solid black;
    top: -155px;
    left: 35px;
}
.cymbalPole::before{
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    background-color: #dbdbdb;
    border: 3px solid black;
    border-radius: 50%;
    left: -5px;
    top: 135px;
    z-index: 1;
}
.cymbalPole::after{
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    background-color: #dbdbdb;
    border: 3px solid black;
    border-radius: 50%;
    left: -5px;
    top: -11px;
    z-index: 1;
}

.cymbalPole2{
    position: absolute;
    height: 80px;
    width: 4px;
    background-color: #dbdbdb;
    border: 3px solid black;
    border-radius: 100px;
    top: -235px;
    left: 55px;
    transform: rotate(30deg);
    z-index: -1;
}
.cymbalPole2::before{
    position: absolute;
    content: '';
    height: 25px;
    width: 8px;
    background-color: #545454;
    border: 3px solid black;
    border-radius: 100px;;
    left: -5px;
    top: 3px;
    z-index: -1;
}
.hihatContainer{
    position: relative;
    top: -350px;
    left: 240px;
    z-index: 2;
    cursor: pointer;
}
#hihatCymbal{
    position: absolute;
    width: 100px;
    height: 6px;
    background-color: #FDE74C;
    border: 3px solid black;
    border-radius: 100px;
    z-index: 13;
}
#hihatCymbal::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 4px;
    background-color: #FDE74C;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    left: 23px;
    top: -7px;
}
.hihatCymbal2{
    position: relative;
    width: 100px;
    height: 6px;
    background-color: #FDE74C;
    border: 3px solid black;
    border-radius: 100px;
    z-index: 13;
    transform: rotate(180deg);
    top: 10px;
}
.hihatCymbal2::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 4px;
    background-color: #FDE74C;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    left: 23px;
    top: -7px;
}
.hihatStand{
    position: relative;
    height: 190px;
    width: 4px;
    background-color: #dbdbdb;
    border: 3px solid black;
    border-radius: 100px;
    top: -28px;
    left: 48px;
    z-index: -3;
}
.hihatStand::before{
    position: absolute;
    content: '';
    height: 35px;
    width: 8px;
    background-color: #545454;
    border: 3px solid black;
    border-radius: 100px;;
    left: -5px;
    top: 3px;
    z-index: -1;
}
.hihatStand::after{
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    background-color: #dbdbdb;
    border: 3px solid black;
    border-radius: 50%;
    left: -5px;
    top: 182px;
}
.hihatBase{
    position: absolute;
    height: 60px;
    width: 80px;
    left: -38px;
    top: 200px;
}
.hihatBase::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 46%;
    background: #dbdbdb;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    transform: skew(0deg, -40deg);
}
.hihatBase::after{
    display: block;
    content: '';
    position: absolute;
    top: 10;
    right: 0;
    height: 5px;
    width: 46%;
    background: #dbdbdb;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    transform: skew(0deg, 40deg);
}
.hihatFeet{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #545454;
    border: 3px solid black;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(10deg);
    top: 15px;
    left: -13px;
    z-index: 5;
}
.hihatFeet::before{
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    background-color: #545454;
    border: 3px solid black;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(-90deg);
    top: -17px;
    left: 85px;
    z-index: -5;
}
@keyframes openHihat {
    0%, 100%{
        top: 0px;
    }
    50%{
        top: -10px;
    }
} 
@keyframes hihatCymbal {
    0%, 100%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-10deg);
    }
} 
.shadow{
    position: absolute;
    height: 100px;
    width: 620px;
    border-radius: 50%;
    background-color: #e3e3e3;
    z-index: -20;
    top: 150px;
    left: -215px;
}
@media only screen and (max-width: 710px) {
.drumContainer{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instruction{
    display: flex;
    flex-direction: row;
    margin: 10px 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.drum{
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
}
}