body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.buttonWrap {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    margin: 20px;
}

.button {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: default;
}

.button.active{
    opacity: 0.9;
    transform: translateY(8px);
    transition: 0.2s;
}

.button:hover {
    opacity: 0.9;
}

.red{
    background-color: #f25022;
    box-shadow: 0 8px #c93a12;
    transition: 0.2s;
}
.red:active, .red.active {
    box-shadow: 0 0px #c93a12;
    transform: translateY(8px);
}
.green{
    background-color: #7fba00;
    box-shadow: 0 8px #638f05;
    transition: 0.2s;
}
.green:active, .green.active {
    box-shadow: 0 0px #638f05;
    transform: translateY(8px);
}
.blue{
    background-color: #00a4ef;
    box-shadow: 0 8px #0883bc;
    transition: 0.2s;
}
.blue:active, .blue.active {
    box-shadow: 0 0px #0883bc;
    transform: translateY(8px);
}
.yellow{
    background-color: #ffb900;
    box-shadow: 0 8px #c28e07;
    transition: 0.2s;
}
.yellow:active, .yellow.active {
    box-shadow: 0 0px #c28e07;
    transform: translateY(8px);
}

#start {
    background-color: rgb(243, 243, 243);
    border: 2px solid rgb(139, 139, 139);
    border-radius: 5px;
    padding: 7px 15px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}